In [13]:
import pandas as pd 
import numpy as np
pd.__version__

'1.2.4'

In [33]:
topics = pd.read_csv('./src/Topic.csv')
topics.head(3)

  name                              label  order parentTopic
0    1  Socio-demographic characteristics      1           3
1    3           Maternal Characteristics      2         NaN
2    4          Lifestyle Characteristics      3           3

In [34]:
keywords = topics.rename(columns={"label": "new_name", "parentTopic": "parent"})
keywords["definition"] = ""
keywords["comments"] = ""
keywords["ontologyTermURI"] = ""

# voor elke keyword rij
for index, row in keywords.iterrows():
  parentId = row['parent']
  # als er sprake is van een parent
  if not parentId == "":
    parentIndex = ""
    # zoek de rij index van de parent
    for lookUpIndex, lookUpRow in keywords.iterrows():
      if(parentId == lookUpRow['name']):
        parentIndex = lookUpIndex
  # als de parent gevonden is 
  if not parentIndex == "":
    # set de name naam de parent als parent cell
    keywords.loc[index, 'parent'] = keywords.loc[parentIndex, 'new_name']

keywords = keywords.drop(columns=['name'])
keywords = keywords.rename(columns={"new_name": "name"})

keywords.to_csv('./output/temp/Keywords.csv', index=False)
keywords

,name,order,parent,definition,comments,ontologyTermURI
0,Socio-demographic characteristics,1,Maternal Characteristics,,,
1,Maternal Characteristics,2,NaN,,,
2,Lifestyle Characteristics,3,Maternal Characteristics,,,
3,Maternal smoking,1,Lifestyle Characteristics,,,
4,Socio-demographic characteristics,1,Child,,,
...,...,...,...,...,...,...
299,pm25fe,8,Air pollution,,,
300,unhealthy_facilities_density,1,Unhealthy food environment,,,
301,unhealthy_facilities_density_osm,2,Unhealthy food environment,,,
302,pm25k,9,Air pollution,,,
303,meteo_distance,11,Meteorology,,,